<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/english_learning"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/english_learning_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishLearning"
        tools:targetApi="31">
        <activity
            android:name=".main.test.QuizCheckAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".main.analysis.AnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".main.flashcard.StartLearnFlashCardActivity"
            android:exported="false" />
        <activity
            android:name=".main.flashcard.LearnFlashCardActivity"
            android:exported="false" />
        <activity
            android:name=".main.flashcard.CardManageActivity"
            android:exported="false" />
        <activity
            android:name=".main.flashcard.AddCardActivity"
            android:exported="false" />
        <activity
            android:name=".main.flashcard.FlashCardActivity"
            android:exported="false" />
        <activity
            android:name=".main.test.QuizResultActivity"
            android:exported="false" />
        <activity
            android:name=".main.test.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".main.test.QuizStartActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".main.test.CourseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>