<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/english_learning"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/english_learning_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishLearning"
        tools:targetApi="tiramisu">
        <activity
            android:name=".authentication.LoginFacebookActivity2"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginFacebookActivity"
            android:exported="false" />
        <activity android:name=".main.analysis.AnalysisActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.test.CourseActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.test.QuizActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.test.QuizStartActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.test.QuizCheckAnswerActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.test.QuizResultActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.flashcard.AddCardActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.flashcard.CardManageActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.flashcard.LearnFlashCardActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.flashcard.StartLearnFlashCardActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.flashcard.FlashCardActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity android:name=".main.Video.VideoActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity
            android:name=".main.quizz.CheckActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity
            android:name=".main.quizz.ResultActivity"
            android:exported="false"

            android:theme="@style/Theme.EnglishLearning" />
        <activity
            android:name=".main.quizz.QuesstionActivity"
            android:exported="false"

            android:theme="@style/Theme.EnglishLearning" />
        <activity
            android:name=".main.quizz.StartActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity
            android:name=".main.quizz.PractieActivity"
            android:exported="false"
            android:theme="@style/Theme.EnglishLearning" />
        <activity
            android:name=".main.game2048.ui.activity.CoreActivity"
            android:exported="false"
            android:label="@string/title_activity_core"
            android:theme="@style/G2048DarkTheme" />
        <activity
            android:name=".main.quizz.QuizzVocabActivity"
            android:exported="false"
            android:label="@string/title_activity_quizz"
            android:theme="@style/Theme.EnglishLearning" />
        <activity
            android:name=".authentication.LoginOTPActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginWithPhoneNumberActivity"
            android:exported="false"
            android:label="@string/title_activity_login_with_phone_number"
            android:theme="@style/Theme.EnglishLearning" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file-provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".main.document.activity.PDFActivity"
            android:exported="false" />
        <activity
            android:name=".main.chatbot.ChatBotActivity"
            android:exported="false"
            android:label="@string/title_activity_chat_bot"
            android:theme="@style/Theme.EnglishLearning" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.profile.DocActivity"
            android:exported="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>